<ion-content [fullscreen]="true">
  <ion-row class="full-screen-container ion-justify-content-center ion-align-items-center">
    <ion-col size="4">
      <ion-row class="ion-justify-content-center timer">
        <ion-col>
          <div class="ion-text-center">
            {{ timeRemaining }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-button (click)="play()" fill="clear" class="ion-float-right">
            <ion-icon size="large" name="play-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="pause()" fill="clear" class="ion-float-left">
            <ion-icon size="large" name="pause-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>